<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Delete</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row flex">
                <div class="col-md-8">
                    <h4>Delete this {{entityName}}</h4>
                    <p>Once you delete this {{entityName | lowercase}} there is no going back.</p>
                </div>
                <div class="col-md-4">
                    <button type="button" (click)="deleteClicked()" class="btn btn-danger btn-sm devman-list-btn" [disabled]="editButtonsDisabled && !hasDeleteError"> <span class="fa fa-trash"></span> &nbsp; Delete this {{entityName}}</button>
                </div>
            </div>
        </li>
        <li *ngIf="hasDeleteError" class="list-group-item warning">
            <h5 class="text-warning">
                <span class="octicon octicon-alert mega-octicon warning"></span> Cannot delete {{entityName}} as it has related
                records
            </h5>
        </li>
    </ul>
</div>