
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.panel-body {
    padding: 10px;
}

.card-title{
        line-height: 22px;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

