<div id="sidebar">
    <div id="sidebar-items">
        <div class="sidebar-menu">
            <p class="sidebar-menu-title">MAIN</p>
            <ul>
                <li>
                    <a [routerLink]="['dashboard']"><i class="icon fa fa-dashboard"></i>Dashboard</a>
                </li>
                <li>
                    <a [routerLink]="['dashboard']"><i class="icon fa fa-desktop"></i>Systems</a><span class="label label-primary">10</span>
                </li>
                <li>
                    <a [routerLink]="['dashboard']"><i class="icon fa fa-users"></i>Developers</a><span class="label label-primary">15</span>
                </li>
                <li>
                    <a [routerLink]="['settings']"><span class="octicon octicon-settings">&nbsp;</span> Settings</a>
                </li>
                <li>
                    <a [routerLink]="['reportsync/packages']"><span class="octicon octicon-settings">&nbsp;</span> Report Sync</a>
                </li>
            </ul>
            <hr />
        </div>
        <div class="sidebar-menu">
            <p class="sidebar-menu-title">MORE</p>
            <ul>
                <li>
                    <a [routerLink]="['departments']"><i class="icon fa fa-dashboard"></i>Departments</a>
                </li>
                <li>
                    <a [routerLink]="['reportspec/1']"><i class="icon fa fa-desktop"></i>Report Spec 1</a><span class="label label-primary">20</span>
                </li>
                <li>
                    <a [routerLink]="['reportspec/2']"><i class="icon fa fa-users"></i>Report Spec 2</a><span class="label label-primary">20</span>
                </li>
                <li>
                    <a [routerLink]="['reportspec/3']"><i class="icon fa fa-wrench"></i>Report Spec 3</a><span class="label label-primary">20</span>
                </li>
            </ul>
            <hr />
        </div>
        <div class="flex-spacer"></div>
        <div id="sidebar-footer">
            <p>B/E Aerospace</p>
            <p>SAO Systems Dept. 2017</p>
        </div>
    </div>
</div>